<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/icon.css">
	<link rel="stylesheet" type="text/css" href="/_button/_button.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/table.css">
	<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<script type="text/javascript" src="/javascripts/table.js"></script>
	<!-- <script src="/js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="/_button/_button.js"></script>
</head>
<body>