<header class="header">
		<div>
			<div class="main_bar">
				<span class="i_bar"></span>
				<span class="i_bar"></span>
				<span class="i_bar"></span>
			</div>
		</div>
	</header>

	<div class="main-left">
		<ul>
			<li class="child">
				<a href="/"><svg><use href="#home" xlink:href="#home"></use></svg> Homepage</a>			
			</li>
			<li class="child">
				<a href="javascript:void(0)"><svg><use href="#person-circle-outline" xlink:href="#person-circle-outline"></use></svg> Profile Manager</a>
				<ul class="ul">
					<li>
						<a href="#"><svg><use href="#radio-button-on" xlink:href="#radio-button-on"></use></svg> Profile user</a>				
					</li>
				</ul>
			</li>
			<li class="child">
				<a href="javascript:void(0)"><svg><use href="#alert-circle-outline" xlink:href="#alert-circle-outline"></use></svg> Icon</a>
				<ul class="ul">
					<li>
						<a href="/icon"><svg><use href="#radio-button-on" xlink:href="#radio-button-on"></use></svg> ionic icon</a>				
					</li>							
				</ul>
			</li>			
		</ul>
	</div>