<%- include('../partials/header') %>
<%- include('../partials/menuLeft', {name: "table", num: '1'}) %>
	<div class="main-right">
		<div style="padding: 12px">
			<div class="card_tbl">
				<div class="card_header">
					<h3 class="card_title">Bordered Table</h3>
				</div>
				<div class="card_body">
					<table class="tbl_border" id="myTable">
						<thead>
							<tr>
								<td style="width: 50px;">No</td>
								<td>Name</td>
								<td>Country</td>
								<td>Province</td>
								<td style="width: 80px;">status</td>
							</tr>
						</thead>
						<tbody id="mytbody">
							<tr>
								<td>1</td>
								<td>my name dara kok</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>								
							</tr>
							<tr>
								<td>2</td>
								<td>dara</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>			
		</div>
		<div style="padding: 12px">
			<div class="card_tbl">
				<div class="card_header">
					<h3 class="card_title">Condensed Full Width Table</h3>
				</div>
				<div class="card_body full">
					<table class="tbl_full">
						<thead>
							<tr>
								<td style="width: 50px;">No</td>
								<td>Name</td>
								<td>Country</td>
								<td>Province</td>
								<td style="width: 80px;">status</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>my name dara kok</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
							<tr>
								<td>2</td>
								<td>dara</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>			
		</div>
		<div style="padding: 12px">
			<div class="card_tbl">
				<div class="card_header">
					<h3 class="card_title">Responsive Hover Table</h3>
				</div>
				<div class="card_body full">
					<table class="tbl_full tbl_hover ">
						<thead>
							<tr>
								<td style="width: 50px;">No</td>
								<td>Name</td>
								<td>Country</td>
								<td>Province</td>
								<td style="width: 80px;">status</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>my name dara kok</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
							<tr>
								<td>2</td>
								<td>dara</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
							<tr>
								<td>2</td>
								<td>dara</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>			
		</div>
		<div style="padding: 12px">
			<div class="card_tbl">
				<div class="card_header">
					<h3 class="card_title">Striped Full Width Table</h3>
				</div>
				<div class="card_body full">
					<table class="tbl_full tbl_hover tbl_even ">
						<thead>
							<tr>
								<td style="width: 50px;">No</td>
								<td>Name</td>
								<td>Country</td>
								<td>Province</td>
								<td style="width: 80px;">status</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>my name dara kok</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
							<tr>
								<td>2</td>
								<td>dara</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
							<tr>
								<td>2</td>
								<td>dara</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
							<tr>
								<td>2</td>
								<td>dara</td>
								<td>cambo</td>
								<td>pp</td>
								<td>active</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>			
		</div>
	</div>
<%- include('../partials/footer') %>