<%- include('partials/header') %>
<%- include('partials/menuLeft', {name: "button"}) %>

	<div class="main-right">

		<div style="padding: 12px;">
			 <h3>Basic Buttons</h3><hr/>
            <button type="button" class="_btn btn_default waves-effect waves-light">Default</button>
            <button type="button" class="_btn btn_primary waves-effect waves-light">Primary</button>
            <button type="button" class="_btn btn_success waves-effect waves-light">Success</button>
            <button type="button" class="_btn btn_info waves-effect waves-light">Info</button>
            <button type="button" class="_btn btn_warning waves-effect waves-light">Warning</button>
            <button type="button" class="_btn btn_danger waves-effect waves-light">Danger</button>
            <button type="button" class="_btn btn_link">Link</button>
		</div>

		<div style="padding: 12px;">
           <h3>Changing waves effect</h3><hr/>           
            <button type="button" class="_btn btn_primary waves-effect">Default</button>
            <button type="button" class="_btn btn_primary waves-effect waves-light">Waves light</button>
            <button type="button" class="_btn btn_primary waves-effect waves-red">Waves red</button>
            <button type="button" class="_btn btn_primary waves-effect waves-yellow">Waves yellow</button>
            <button type="button" class="_btn btn_primary waves-effect waves-orange">Waves orange</button>
            <button type="button" class="_btn btn_primary waves-effect waves-purple">Waves purple</button>
            <button type="button" class="_btn btn_primary waves-effect waves-green">Waves green</button>
            <button type="button" class="_btn btn_primary waves-effect waves-teal">Waves teal</button>
        </div>

        <div style="padding: 12px;">
            <h3>Button Sizes</h3><hr/>
            <p>In order to change button sizes use on of predefined class: <code>.btn-xlg  .btn-lg  .btn-md  .btn-sm  .btn-xs</code></p>
            <button type="button" class="_btn btn_success btn_xlg waves-effect waves-light">XLarge</button>
            <button type="button" class="_btn btn_success btn_lg waves-effect waves-light">Large</button>
            <button type="button" class="_btn btn_success btn_md waves-effect waves-light">Medium</button>
            <button type="button" class="_btn btn_success btn_sm waves-effect waves-light">Small</button>
            <button type="button" class="_btn btn_success btn_xs waves-effect waves-light">XSmall</button>
        </div>

        <div style="padding:12px;">
            <h3>Button States</h3><hr/>
            <button type="button" class="_btn btn_primary">Primary Button</button>
            <button type="button" class="_btn btn_primary active">Active Primary</button>
            <button type="button" class="_btn btn_primary disabled">Disabled Primary</button>
        </div>
        <div style="padding:12px;">
            <h3>Block Level Buttons</h3><hr/>
            <button type="button" class="_btn btn_default btn_block waves-effect waves-light">Button 1</button>
            <button type="button" class="_btn btn_primary btn_block waves-effect waves-light">Button 2</button>
      
            <h2>Large Block Level Buttons</h2><hr/>
            <button type="button" class="_btn btn_primary btn_lg btn_block waves-effect waves-light">Button 1</button>
            <button type="button" class="_btn btn_default btn_lg btn_block waves-effect waves-light">Button 2</button>
      
            <h2>Small Block Level Buttons</h2><hr/>
            <button type="button" class="_btn btn_primary btn_sm btn_block waves-effect waves-light">Button 1</button>
            <button type="button" class="_btn btn_default btn_sm btn_block waves-effect waves-light">Button 2</button>
        </div>
        <div style="padding: 12px;">
        	<h3>Outline buttons</h3><hr/>
        	<button type="button" class="_btn btn_outline_primary waves-effect" wfd-id="2690">Primary</button>
		    <button type="button" class="_btn btn_outline_default waves-effect" wfd-id="2689">Default</button>
		    <button type="button" class="_btn btn_outline_secondary waves-effect" wfd-id="2688">Secondary</button>
		    <button type="button" class="_btn btn_outline_success waves-effect" wfd-id="2687">Success</button>
		    <button type="button" class="_btn btn_outline_info waves-effect" wfd-id="2686">Info</button>
		    <button type="button" class="_btn btn_outline_warning waves-effect" wfd-id="2685">Warning</button>
		    <button type="button" class="_btn btn_outline_danger waves-effect" wfd-id="2684">Danger</button>
        </div>
        <div style="padding: 12px;">
        	<h3>Rounded buttons</h3><hr/>
        	<button type="button" class="_btn btn_primary btn_rounded waves-effect waves-light" wfd-id="2682">Primary</button>
		    <button type="button" class="_btn btn_default btn_rounded waves-effect waves-light" wfd-id="2681">Default</button>
		    <button type="button" class="_btn btn_secondary btn_rounded waves-effect waves-light" wfd-id="2680">Secondary</button>
		    <button type="button" class="_btn btn_success btn_rounded waves-effect waves-light" wfd-id="2679">Success</button>
		    <button type="button" class="_btn btn_info btn_rounded waves-effect waves-light" wfd-id="2678">Info</button>
		    <button type="button" class="_btn btn_warning btn_rounded waves-effect waves-light" wfd-id="2677">Warning</button>
		    <button type="button" class="_btn btn_danger btn_rounded waves-effect waves-light" wfd-id="2676">Danger</button>
        </div>
        <div style="padding: 12px;">
        	<h3>Rounded outline buttons</h3><hr/>
        	<button type="button" class="_btn btn_outline_primary btn_rounded waves-effect">Primary</button>
			<button type="button" class="_btn btn_outline_default btn_rounded waves-effect">Default</button>
			<button type="button" class="_btn btn_outline_secondary btn_rounded waves-effect">Secondary</button>
			<button type="button" class="_btn btn_outline_success btn_rounded waves-effect">Success</button>
			<button type="button" class="_btn btn_outline_info btn_rounded waves-effect">Info</button>
			<button type="button" class="_btn btn_outline_warning btn_rounded waves-effect">Warning</button>
			<button type="button" class="_btn btn_outline_danger btn_rounded waves-effect">Danger</button>
        </div>

	</div>
<%- include('partials/footer') %>