<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>



	<div style="width: 100%;display: flex;">
		<div class="main-left col-md-2 col-sm-2 col-xl-2">
			<nav class="collapse bd-links show" id="bd-docs-nav" aria-label="Main navigation">
				<div class="bd-toc-item active" wfd-id="172">
					<a class="bd-toc-link" href="/docs/4.4/getting-started/introduction/">
						Getting started
					</a>

					<ul class="nav bd-sidenav" wfd-id="173">
						<li class="active bd-sidenav-active" wfd-id="182">
							<a href="/docs/4.4/getting-started/introduction/">
								Introduction
							</a>
						</li>
						<li wfd-id="181">
							<a href="/docs/4.4/getting-started/download/">
								Download
							</a>
						</li>
						<li wfd-id="180">
							<a href="/docs/4.4/getting-started/contents/">
								Contents
							</a>
						</li>
						<li wfd-id="179">
							<a href="/docs/4.4/getting-started/browsers-devices/">
								Browsers &amp; devices
							</a>
						</li>
						<li wfd-id="178">
							<a href="/docs/4.4/getting-started/javascript/">
								JavaScript
							</a>
						</li>
						<li wfd-id="177">
							<a href="/docs/4.4/getting-started/theming/">
								Theming
							</a>
						</li>
						<li wfd-id="176">
							<a href="/docs/4.4/getting-started/build-tools/">
								Build tools
							</a>
						</li>
						<li wfd-id="175">
							<a href="/docs/4.4/getting-started/webpack/">
								Webpack
							</a>
						</li>
						<li wfd-id="174">
							<a href="/docs/4.4/getting-started/accessibility/">
								Accessibility
							</a>
						</li>
					</ul>
			</nav>
		</div>
		<div class="main-right col-md-10  col-sm-10 col-xl-aotu">

			<%- include('partials/menu') %>
			<div class="container">
				<div class="row">
					<p>1245tfgdfhldnhxlknlxknklb kfhpjopfjjjfgj zjfhjzdfhnoifcvbv f
						gdfdfdc</p>
					<p>1245tfgdfhldnhxlknlxknklb kfhpjopfjjjfgj zjfhjzdfhnoifcvbv f
						gdfdfdc</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>