<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/icon.css">
	<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/script.js"></script>
	<!-- <script src="/js/bootstrap.min.js"></script> -->
</head>

<body>

	<header class="header">
		<div>
			<div class="main_bar">
				<span class="i_bar"></span>
				<span class="i_bar"></span>
				<span class="i_bar"></span>
			</div>
		</div>
	</header>
	<div class="main-left open">
		<ul>
			<li class="child">
				<a href="javascript:void(0)"><i class="i_home"></i> Home</a>
				<ul class="ul">
					<li>
						<a href="#">list all of user</a>				
					</li>
					<li>
						<a href="#">Profile Manager</a>
					</li>
					<li>
						<a href="#">Creat New User</a>
					</li>			
				</ul>
			</li>
			<li class="child">
				<a href="javascript:void(0)"><i class="i_ i_profile"></i> Profile Manager</a>
				<ul class="ul">
					<li>
						<a href="#">Profile user</a>				
					</li>
					<li>
						<a href="#">Profile </a>
					</li>
					<li>
						<a href="#">Profile r</a>
					</li>			
				</ul>
			</li>
			<li class="child">
				<a href="javascript:void(0)"><i class="i_ i_setting"></i> Manager</a>
				<!-- <ul>
					<li>
						<a href="#"> user</a>				
					</li>
					<li>
						<a href="#"> Manager</a>
					</li>
					<li>
						<a href="#">New User</a>
					</li>			
				</ul> -->
			</li>			
		</ul>
	</div>
	<div class="main-right">
	</div>
</body>

</html>