<%- include('partials/header') %>
<%- include('partials/menuLeft') %>
	

	<div class="main-right">
		<svg><use href="#add" xlink:href="#add"></use></svg>
		<svg><use href="#arrow-down-outline" xlink:href="#arrow-down-outline"></use></svg>
	</div>
	
<%- include('partials/footer') %>