<%- include('../partials/header') %>
<%- include('../partials/menuLeft', {name: "icon"}) %>

	<div class="main-right">
		<div style="padding: 12px;">
			<%- include('../partials/ionic/font_ionic') %>
		</div>

	</div>
<%- include('../partials/footer') %>